node_modules
**/node_modules
dist
**/dist
.nx
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.yarn/build-state.yml
.git
.github
.husky
.idea
.vscode
.changeset
.claude
coverage
tmp
*.log
.env
.env.*
!.env.example
!.env.docker.example
!.yarn/releases
!.yarn/plugins
!.yarn/patches
docs
README.md
LICENSE
