VENDOR_RISK_PROVIDER=hybrid
VENDOR_RISK_TRANSPORT=tcp
VENDOR_RISK_HOST=127.0.0.1
VENDOR_RISK_PORT=4006
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SHODAN_API_KEY=
HIBP_API_KEY=
ABUSEIPDB_API_KEY=
SCORECARD_API_KEY=
AI_TRANSPORT=tcp
AI_HOST=127.0.0.1
AI_PORT=4005
